<footer class="footer teal darken-4 white-text">
    <div class="container">
        <br>
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <dl>
                    <dt>Title  1</dt>
                    <dd><a href="#">Link 1</a></dd>
                    <dd><a href="#">Link 2</a></dd>
                    <dd><a href="#">Link 3</a></dd>
                    <dd><a href="#">Link 4</a></dd>
                    <dd><a href="#">Link 5</a></dd>
                </dl>
            </div>
            <div class="col-lg-3 col-md-3">
                <dl>
                    <dt>Title  1</dt>
                    <dd><a href="#">Link 1</a></dd>
                    <dd><a href="#">Link 1</a></dd>
                    <dd><a href="#">Link 2</a></dd>
                </dl>
            </div>
            <div class="col-lg-3 col-md-3">

            </div>
            <div class="col-lg-3 col-md-3">
                <div class="fb-page" data-href="https://www.facebook.com" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com"><a href="https://www.facebook.com">Transcode</a></blockquote></div></div>
            </div>
        </div>
        <div class="row text-center text-bold">
            Transcode &copy; 2016
        </div>
    </div>
</footer>