html, body{
    height: 100%;
}

.body-content {
    padding-top: 70px;
    min-height: 100%;
}

.btn-facebook{
    background-color: #3b5998;

}

.btn-google{
    background-color: #DD4B39;
}
.row-table{
    diplay:table;
    [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: top;
    }
}