{% trans_default_domain 'AppBundle' %}
<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="{{ path('submitjob') }}">{{ 'sidebar.newjob'|trans }}</a></li>
        <li><a href="#">{{ 'sidebar.historic'|trans }}</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="#">{{ 'sidebar.analytics'|trans }}</a></li>
    </ul>
</div>