html,
body {
  height: 100%;
}
.body-content {
  padding-top: 70px;
  min-height: 100%;
}
.btn-facebook {
  background-color: #3b5998;
}
.btn-google {
  background-color: #DD4B39;
}
.row-table {
  diplay: table;
}
.row-table [class*="col-"] {
  float: none;
  display: table-cell;
  vertical-align: top;
}
div.job-offer div img {
  width: 100%;
}
.event-grid .event {
  padding-left: 7px;
  padding-right: 7px;
}
.event-grid .event img {
  width: 100%;
  padding-bottom: 14px;
}
.event-grid .event .event-right {
  padding-left: 7px;
  padding-right: 0px;
}
.event-grid .event .event-left {
  padding-right: 7px;
  padding-left: 0px;
}
