{% extends ':site:base.html.twig' %}

{% block body %}

    <h1>Transcode</h1>
    <p> The Transcode project is lead and composed of a team of volunteers, that believes in the power of open source
        when dealing with multimedia.</p>
    <p>The Transcode non-profit organization</p>
    <p>The Transcode project is backed up by the Transcode organization, based in France.</p>
    <p> The Transcode non-profit organization has a committee and members that are part of the Transcode project.</p>

    <h2> Open Source</h2>
    <p>Transcode produces free software for multimedia, released under the General Public License.</p>
    <h2> Hosted projects </h2>
    <p>Transcode hosts many open source projects, related or not to VLC.</p>
    <p>Check the list of projects.</p>
    <h2> Contribute </h2>
    <p> Transcode welcomes all contributions to the project! You can contribute time (development, documentation,
        packaging, tests, user support, ...), material or even money. See the contribution page for more information.
        Events
        We regularly attend computing events, like FOSDEM (Free-software and Open Source Developers European Meeting).
        We generally come back with some photos and stories.
        History
        The project started as a student project at the French École Centrale Paris, in 1996. After a complete rewrite
        in 1998, it became Open Source, thanks to the agreement of the École Centrale Paris, in 2001.
        The project started to open up to developers outside of the École. It is now a worldwide project with developers
        from 20 countries.
        Since 2009, the project is completely separated from École Centrale Paris, and is backed up by an autonomous
        non-profit organization. </p>
    <h2>Contact</h2>
    <p> Please use and read the contact page for any query, question and remark.</p>




{% endblock %}
