{% extends ':site:base.html.twig' %}

{% block body %}
    <h1>FAQ</h1>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">EST-CE QUE TOUS VOS ARTICLES SONT EN STOCK ?</h3>
        </div>
        <div class="panel-body">
            Les articles les plus vendus sont en stock dans nos locaux, le réapprovisionnement se fait en 48 heures. Les délais de livraison peuvent variés de 2 à 5 jours.
            Pour les grosses piéces ce delai peut augmenter, dans ce cas, vous serez contacté pour vous précisez ce dèlai.
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">JE NE TROUVE PAS LA RÉPONSE À MA QUESTION, COMMENT FAIRE ?</h3>
        </div>
        <div class="panel-body">
            Cliquez sur la rubrique "Contacts" et faites-nous part de votre question, nous y répondrons dans les plus brefs délais.
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">JE VOUDRAIS FAIRE UN CADEAU, EST-CE POSSIBLE ?</h3>
        </div>
        <div class="panel-body">
            Pas de probléme.
            Vous pouvez envoyer un cadeau à un tiers en renseignant son adresse en adresse de livraison et la votre en adresse de facturation.
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">QUAND VAIS-JE RECEVOIR MA COMMANDE ?</h3>
        </div>
        <div class="panel-body">
            2 à 5 jours pour les articles courants. (en ne tenant pas compte d'éventuels problémes de transport du type gréve)
            Pour les gros articles, ce délai peut augmenter, dans ce cas nous vous contacterons pour préciser ce délai.
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">QUELS SONT LES MOYENS DE PAIEMENT QUE VOUS ACCEPTEZ ?</h3>
        </div>
        <div class="panel-body">
            Vous avez plusieurs possibilités pour régler vos achats.
            Soit par:
            compte Paypal
        </div>
    </div>
{% endblock %}