{% extends ':site:base.html.twig' %}

{% block body %}
    <h1 class="blue-text"><strong>Transcode</strong> Privacy Policy</h1>
    <div class="col-xs-12">
        <h2>Our Privacy Principles</h2>
        <p>If you read nothing else, please read this:</p>
        <ul>
            <li>The most fundamental privacy principle we follow is that by default, anything you post to Transcode is private to your team. That is, viewing the messages and files shared within a specific team requires authentication as a member of that team.</li>
            <li>Transcode is the custodian of data on behalf of the teams that use Transcode. We don’t own team communication data. Teams own their data. They like it that way and so do we.</li>
            <li>At Transcode we believe that more transparency is better than less. We try to make our product easy to use, with settings and options that are easy to find and understand. This is good for privacy, good for the product, and good for Transcode customers and users. To foster greater transparency, we have published a Transparency Report, which is our summary of government and law enforcement requests for user data and content removal from Transcode, and our User Data Request Policy explaining our policy requests regarding user data and content removal requests.</li>
            <li>We think that having more information be easily accessible and searchable wherever you go, whatever device you have, is better than having less. So this is how we built Transcode. Teams can select their own data retention policies (depending on their level of service) but our defaults show our bias. Administrators and owners can change these settings but we want you to know where we stand.</li>
            <li>Privacy goes hand in glove with security and confidentiality. We see these things being the three legs that keep the stool balanced and upright. Each is as important as the other and if one is missing the stool won’t stand. They are all very important to us and we take them very seriously.</li>
        </ul>
        <p>You can see past versions of our Privacy Policy, Terms of Service and other policies in our Policy Archive.</p>
    </div>
    <div class="col-xs-12">
        <h2>Transcode Privacy Policy</h2>
        <p>Updated: November 3, 2015</p>
        <p>This privacy policy is here to help you understand what information we collect at Transcode, how we use it, and what choices you have. When we talk about Transcode in this policy, we are talking about Transcode Technologies, Inc., the company, Transcode, the downloadable application, and the Transcode website at www.Transcode.com. Transcode is available for use via a web browser or applications specific to your desktop or mobile device.</p>
        <p>This policy describes how Transcode treats your information, not how other organizations treat your information. If you are using Transcode in a workplace or on a device or account issued to you by your employer or another organization, that company or organization likely has its own policies regarding storage, access, modification, deletion, and retention of communications and content which may apply to your use of Transcode. Content that would otherwise be considered private to you or to a limited group of people may, in some cases, be accessible by your Team Owner or administrator. Please check with your employer, Team Owner or administrator about the policies it has in place regarding your communications and related content on Transcode. More on this below.</p>
        <p>In this policy we talk about various roles within a Transcode team and the privileges that come with each. It’s helpful to understand these roles and the relationships between them. Here’s the breakdown: primary owner > Team Owner > Team Administrator > team member. Primary owners have the most control over their team’s settings on Transcode, followed by Team Owners and then Team Administrators. The person who establishes the Transcode team is considered the primary owner with the most control over the team (which is why it’s not a good idea for this person to be a contractor or temp employee). Teams can have more than one owner, but only one can be the primary owner. Primary ownership can be transferred to another member after the team is created (see prior note about temp workers and flaky people). All Team Owners are administrators, and all owners and administrators are also team members.</p>
    </div>

    <div class="col-xs12">
        <h2>Information we collect and receive</h2>
        <p>We collect different kinds of information. Some of it is personally identifiable and some is non-identifying or aggregated. Here are the types of information we collect or receive:</p>
        <ul>
            <li>Team information. When you create a team on Transcode, we collect your email address (as the Team Owner), your team name, Transcode domain (ex: your-team-name.Transcode.com), your user name that appears in your Transcode team, and password. Optionally, you can provide an email domain to allow people on that domain to sign up for your team without an invitation or individually add email addresses for people you’d like to invite to your team.</li>
            <li>Account and profile information. The only information we require to create your Transcode account is an email address and password. Optional information you can enter into your profile includes information such as your first and last name, what you do, your Skype username, and your phone number. Your Team Owner(s)/administrator(s) may request you to provide additional information about yourself in your profile, and Transcode has no control over such additional information collected. Any information you add to your profile is visible to other people on your team as described on your profile management page.</li>
            <li>Billing information. If you purchase a premium version of Transcode, our third party payment processors will collect and store your billing address and credit card information.</li>
            <li>Log data. When you use Transcode, our servers automatically record information, including information that your browser sends whenever you visit a website or your mobile app sends when you’re using it. This log data may include your Internet Protocol address, the address of the web page you visited before coming to Transcode, your browser type and settings, the date and time of your request, information about your browser configuration and plug-ins, language preferences, and cookie data. Log data does not contain message content and is not routinely deleted.</li>
            <li>Device information. In addition to log data, we may also collect information about the device you’re using Transcode on, including what type of device it is, what operating system you’re using, device settings, unique device identifiers, and crash data. Whether we collect some or all of this information often depends on what type of device you’re using and its settings.</li>
            <li>Geo-location information. Precise GPS from mobile devices is collected only with your permission. WiFi and IP addresses received from your browser or device may be used to determine approximate location.</li>
            <li>Transcode usage information. This is information about which teams, channels, people, features, content, and links you interact with within Transcode and what integrations with related services you use.</li>
            <li>Service integrations. If you integrate with a service on Transcode we will connect that service to ours.
                <ul>
                    <li>Depending on team settings, team members may be able to add integrations to a channel or direct message conversation. Those integrations are viewable and maybe removable by the administrators, owners, or designated users.</li>
                    <li>We do not receive or store your passwords for any of these services.</li>
                    <li>If you add an integration, the third party provider of the integration may share certain information about your account with Transcode. Transcode is not responsible for how teams may use and collect data through integrations.</li>
                    <li>An integration can be removed at any time. Removing an integration unbinds that integration on a go-forward basis. That does not, however, delete the content that was received from the integration and indexed within Transcode. That content must be deleted manually.</li>
                </ul>
            </li>
            <li>Communication content that you send and receive within Transcode. This includes:
                <ul>
                    <li>The message content itself. This content can include messages, pictures, files and video among other types of files.</li>
                    <li>When messages or files were sent and by whom, when or if they were seen by you, and where you received them (in a channel or direct message, for example).</li>
                </ul>
            </li>
            <li>Information from partners or other 3rd parties. Transcode may receive information from partners or others that we could use to make our own information better or more useful. This might be aggregate level information about which IP addresses go with which zip codes or it might be more specific information about how well an online marketing or email campaign performed.</li>
        </ul>
    </div>
    <div class="col-xs-12">
        <h2>Our Cookie Policy</h2>
        <p>Transcode uses cookies, or similar technologies like single-pixel gifs and web beacons, to record log data. We use both session-based and persistent cookies.</p>
        <p>Cookies are small text files sent by us to your computer and from your computer to us, each time you visit our website. They are unique to your Transcode account or your browser. Session-based cookies last only while your browser is open and are automatically deleted when you close your browser. Persistent cookies last until you or your browser delete them or until they expire.</p>
        <p>Some cookies are associated with your Transcode account and personal information in order to remember that you are logged in and which teams you are logged into. Other cookies are not tied to your Transcode account but are unique and allow us to do site analytics and customization, among other similar things. If you access Transcode through your browser, you can manage your cookie settings there but if you disable all cookies you may not be able to use Transcode.</p>
        <p>Transcode sets and accesses our own cookies on our company-owned domains. In addition, we use 3rd parties like Google Analytics and Mixpanel for website analytics. You may opt-out of third party cookies from Google Analytics and Mixpanel on their respective websites. We do not currently recognize or respond to browser-initiated Do Not Track signals as there is no consistent industry standard for compliance.</p>
    </div>
    <div class="col-xs-12">
        <h2>How we use your information</h2>
        <p>We use your information for the following:</p>
        <ul>
            <li>Providing the Transcode service. We use information you provide to authenticate you and deliver message content to you and from you</li>
            <li>Understanding and improving our products. To make the product better we have to understand how users are using it. We have a fair bit of data about usage and we intend to use it many different ways to improve our products, including research. This policy is not intended to place any limits on what we do with usage data that is aggregated or de-identified so it is no longer tied to a Transcode user.</li>
            <li>Investigating and preventing bad stuff from happening. We work hard to keep Transcode secure and to prevent abuse and fraud.</li>
            <li>Communicating with you
                <ul>
                    <li>Solving your problems and responding to your requests. If you contact us with a problem or question, we will use your information to respond to that request and address your problems or concerns.</li>
                    <li>In-product communications. We may use the information you provide to contact you through Transcode using Transcodebot or other in-product messaging tools. For example, if, after, a few weeks of using Transcode we notice that your notification setting is set to notify you of all messages, we may send you a Transcodebot message that suggests you change this in case you are getting too many notifications. This is just one example of how we use information about your usage of the product to make suggestions to you.</li>
                    <li>Email messages. We may send you service and administrative emails, such as when we notice that you are nearing a message or integration limit. We may also contact you to inform you about changes in our services, our service offerings and important service related notices, such as changes to this policy or security and fraud notices. These messages are considered part of the service and you may not opt-out of them. In addition, we sometimes send emails to Transcode users about new product features or other news about Transcode. You can opt-out of these at any time.</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-xs-12">
        <h2>Your choices</h2>
        <p>When you use Transcode, you have control over a number of things with respect to your own privacy and choices about how your content is visible to others or not. If you are a Transcode Team Owner or administrator, you have additional choices that impact your team’s privacy. Some members will not have access to all of the same choices that their Team Owner(s) or administrator(s) do. That is because Transcode is set up to be team-oriented, and provides Team Owners with the maximum ability to control their teams.</p>
    </div>
    <div class="col-xs-12">
        <h2>Message Retention Settings and Export Options</h2>
        <p>Transcode offers different options for message retention and export to Team Owners and Administrators, depending on the level of service they have signed up for. These service levels are likely to change so please see our pricing page to learn more about which features are associated with which level of service.</p>
        <ul>
            <li>Message Retention Settings
                <ul>
                    <li>Message retention setting options vary by service level from very general to very specific. The default for all teams, both free and premium, is that messages are retained for as long as the team exists unless they are deleted by the user or administrators, and that users can edit and delete their own messages at any time.</li>
                    <li>Premium level teams can modify their team settings to shorten the duration of retention, make very specific retention setting modifications on a per-channel basis, and change settings to store all message edits and to retain messages that users have deleted.</li>
                    <li>Please see our FAQ for more specific information about what options exist for different team service levels.</li>
                    <li>You can view your team’s message retention settings at any time via Your Team Settings.</li>
                </ul>
            </li>
            <li>Message Exports
                <ul>
                    <li>Administrators of all teams, both free and premium, can export their team’s messages and files that are shared in channels. Message history for private channels and direct messages is not included in this.</li>
                    <li>Only owners for teams who have signed up for the appropriate level of Transcode service and have enabled Compliance Exports can export their team’s private channel's messages, private channel's shared files and direct messages. Compliance Exports may include message edit and deletion history.</li>
                    <li>For more information about your team's export options, please visit Your Team Settings</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-xs-12">
        <h2>Choices for Team Members</h2>
        <ul>
            <li>If you are a member of a free team, you may deactivate your account. Deactivation of an account disables your access to the Transcode team associated with that account but does not delete your profile or content, which are considered part of your team’s data.</li>
            <li>Whether you can delete your message content depends on your team’s settings. In addition, a record of edits and deletions may be retained by your team, depending on the service level of your team and your team’s settings. Please see our FAQ for more detail.</li>
            <li>While you cannot completely delete a profile once it is created, you can update your profile information at any time and modify your email settings. You can also change your user name from time to time.</li>
            <li>When you upload a document or a file on Transcode, you can decide where to share it and with whom. You can also share documents with your entire team or in a private channel. You can also share them externally by creating a public link if you choose. Files are not subject to message retention settings but can be deleted at any time by the person who uploaded the file or by Team Administrators.</li>
        </ul>
    </div>
{% endblock %}