{% extends ':site:base.html.twig' %}

{% block body %}
    <h1 class="blue-text"><strong>Transcode</strong> Security</h1>
    <div class="col-xs-12">
        <h2>Security</h2>
        <p>We take security seriously here at Transcode. And for good reason: every person and team using our service expects their data to be secure and confidential. We understand how important the responsibility of safeguarding this data is to our customers and work to maintain that trust. For more information on our commitment to providing secure services, please see our Security Practices, Privacy Policy, and Terms of Service.</p>
        <p>If you believe you have found a security vulnerability in Transcode, please get in touch with our security team.</p>
    </div>
    <div class="col-xs-12">
        <h2>Security Practices</h2>
        <h3>Effective: December 1, 2015</h3>
        <p>We take the security of your data very seriously at Transcode. As transparency is one of the principles on which our company is built, we aim to be as clear and open as we can about the way we handle security.</p>
        <h2>Confidentialy</h2>
        <p>We place strict controls over our employees’ access to the data you and your users make available via the Transcode services, as more specifically defined in your agreement with Transcode covering the use of the Transcode services ("Customer Data"), and are committed to ensuring that Customer Data is not seen by anyone who should not have access to it. The operation of the Transcode services requires that some employees have access to the systems which store and process Customer Data. For example, in order to diagnose a problem you are having with the Transcode services, we may need to access your Customer Data. These employees are prohibited from using these permissions to view Customer Data unless it is necessary to do so. We have technical controls and audit policies in place to ensure that any access to Customer Data is logged.</p>
        <p>All of our employees and contract personnel are bound to our policies regarding Customer Data and we treat these issues as matters of the highest importance within our company.</p>
    </div>
    <div class="col-xs-12">
        <h2>Report a Vulnerability</h2>
        <p>If you believe you have found a security vulnerability on Transcode, please let us know right away. We will investigate all reports and do our best to quickly fix valid issues.</p>
        <p>You can submit your report on HackerOne and our security team will respond as soon as possible.</p>
        <p>To find out more about Transcode's security, please visit our security information page. For other security questions or issues, please email feedback@Transcode.com.</p>
    </div>
{% endblock %}